<div class="tab-pane fade" id="summary" role="tabpanel" aria-labelledby="home-tab">
    <h1 class="display-6">Summary</h1>

    <table class="table table-hover text-center">
        <thead>
        <tr>
            <th scope="col">Year</th>
            <th scope="col">Semester I</th>
            <th scope="col">Semester II</th>
            <th scope="col">Average GPA</th>

        </tr>
        </thead>
        <tbody>
        <tr>
            <td> Year I</td>
            <td> 3.336</th>
            <td> 3.336</td>
            <td> 3.336</td>

        </tr>
        </tbody>
    </table>

</div>
